@import "vendor/normalize";

$day: #fff;
$darken: 5%;
$night: #111;

%text-shadow {
    text-shadow: 1px 1px 0 $day;

    .night & {
        text-shadow: -1px -1px 0 lighten($night, 2%);
    }
}

html {
    height: 100%;
}

body {
    display: table;
    width: 100%;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 3em;
    background-color: darken($day, 1%);
    color: darken($day, $darken);

    @media all and (min-width: 600px) {
        font-size: 5em;
    }

    .night & {
        background-color: $night;
        color: darken($night, $darken);
    }
}

.site-wrap {
    display: table-cell;
    vertical-align: middle;
}

.site-links {
    text-align: center;
}

.button {
    display: inline-block;
    width: 1em;
    height: 1em;
    @extend %text-shadow;
    text-decoration: none;

    svg {
        width: 100%;
        height: auto;
    }
    path {
        transition: fill 250ms;
        fill: darken($day, $darken);

        .night & {
            fill: darken($night, $darken);
        }
    }
}

.button__github {
    &:active,
    &:hover {
        path {
            fill: #aaa !important;

            .night & {
                fill: #aaa !important;
            }
        }
    }
}
.button__twitter {
    &:active,
    &:hover {
        path {
            fill: #4099ff !important;

            .night & {
                fill: #4099ff !important;
            }
        }
    }
}

.site-title {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    @extend %text-shadow;
}

.site-title__pre {
    font-size: 1em;
    line-height: 1;
    letter-spacing: -0.06125em;
}

.site-title__name {
    font-size: 2em;
    line-height: 1;
    font-weight: bold;
    letter-spacing: -0.06125em;
    transform: translateY(-0.125em);
}
